# Oficina Aula 1.1

Análise de Dados sobre o consumo de álcool no mundo.

Contexto do exercício:
O consumo excessivo de álcool é um problema grave de saúde pública. Imagine que você é um cientista de dados trabalhando em uma equipe da Organização Mundial da Saúde (OMS), cujo objetivo é desenvolver relatórios sobre o consumo de álcool no mundo.

Foram coletados dados de diferentes países, indicando o consumo de cerveja (beer), licor (spirit) e vinho (wine), e o consumo de litros de álcool por pessoa do país no ano de 2010. Seu trabalho, então, é responder a algumas perguntas sobre os dados que irão ajudar a compor o relatório.

Perguntas a serem respondidas

1. Qual a média e desvio padrão do consumo de cerveja, licor, vinho e total de álcool?
2. Qual o consumo de licor na França?
3. Quais os 5 países nos quais se consome mais vinho?
4. Quais os países nos quais o consumo de cerveja está acima da média?
5. Quais países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior?

In [72]:
# importando biblioteca
import pandas as pd

In [73]:
# carregar base de dados
df = pd.read_csv('drinks.txt')

In [74]:
# verificar os dados carregados
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [75]:
# verficar informações estatísticas dos dados carregados
df.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [76]:
# Resposta 1: Qual a média e desvio padrão do consumo de cerveja, licor, vinho e total de álcool?
print("Média consumo Cerveja = ", df.beer_servings.mean(), ", Desvio padrão = ", df.beer_servings.std())
print("Média consumo Licor = ", df.spirit_servings.mean(), ", Desvio padrão = ", df.spirit_servings.std())
print("Média consumo Vinho = ", df.wine_servings.mean(), ", Desvio padrão = ", df.wine_servings.std())
print("Média consumo Total de álcool = ", df.total_litres_of_pure_alcohol.mean(), ", Desvio padrão = ", df.total_litres_of_pure_alcohol.std())

Média consumo Cerveja =  106.16062176165804 , Desvio padrão =  101.14310253931335
Média consumo Licor =  80.99481865284974 , Desvio padrão =  88.2843121096862
Média consumo Vinho =  49.45077720207254 , Desvio padrão =  79.69759845763012
Média consumo Total de álcool =  4.717098445595855 , Desvio padrão =  3.773298164356083

In [77]:
# Observa-se que a cerveja possui maior consumo médio quando comparado com as outras bebidas, 
#sendo expressivo seus números de consumo.
#Observa-se que o desvio padrão para Vinho é muito alto, o que pode indicar grande variação dos dados de consumo do período
#analisado ou valores equivocados.

In [78]:
#Resposta 2: Qual o consumo de licor na França? 151
df[df['country']=='France']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
61,France,127,151,370,11.8

In [79]:
# Resposta 3 : Quais os 5 países nos quais se consome mais vinho?
df.sort_values(by='wine_servings', ascending = False).head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
61,France,127,151,370,11.8
136,Portugal,194,67,339,11.0
3,Andorra,245,138,312,12.4
166,Switzerland,185,100,280,10.2
48,Denmark,224,81,278,10.4

In [80]:
# Resposta 4: Quais os países nos quais o consumo de cerveja está acima da média?
df[df['beer_servings']>101.143103]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
5,Antigua & Barbuda,102,128,45,4.9
6,Argentina,193,25,221,8.3
8,Australia,261,72,212,10.4
...,...,...,...,...,...
182,United Kingdom,219,126,195,10.4
184,USA,249,158,84,8.7
185,Uruguay,115,35,220,6.6
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0

In [81]:
# Resposta 5: Quais países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior?

In [82]:
df[df['country']=='Brazil']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
23,Brazil,245,145,16,7.2

In [86]:
df = df.sort_values(by='total_litres_of_pure_alcohol', ascending = True)
df[df['total_litres_of_pure_alcohol'] > 7.2]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
132,Paraguay,213,117,74,7.3
35,Chile,130,124,172,7.6
143,St. Kitts & Nevis,194,205,32,7.7
188,Venezuela,333,100,3,7.7
159,South Africa,225,76,81,8.2
44,Cyprus,192,154,113,8.2
32,Canada,240,122,100,8.2
67,Greece,133,112,218,8.3
179,Uganda,45,9,0,8.3
6,Argentina,193,25,221,8.3
184,USA,249,158,84,8.7
62,Gabon,347,98,59,8.9
180,Ukraine,206,237,45,8.9
124,Nigeria,42,5,2,9.1
121,New Zealand,203,79,175,9.3
120,Netherlands,251,88,190,9.4
57,Estonia,224,194,59,9.5
151,Serbia,283,131,127,9.6
9,Austria,279,75,191,9.7
138,South Korea,140,16,9,9.8
160,Spain,284,157,112,10.0
60,Finland,263,133,97,10.0
144,St. Lucia,171,315,71,10.1
166,Switzerland,185,100,280,10.2
42,Croatia,230,87,254,10.2
25,Bulgaria,231,252,94,10.3
140,Romania,297,122,167,10.4
182,United Kingdom,219,126,195,10.4
48,Denmark,224,81,278,10.4
8,Australia,261,72,212,10.4
16,Belgium,295,84,212,10.5
93,Latvia,281,216,62,10.5
156,Slovenia,270,51,276,10.6
135,Poland,343,215,56,10.9
136,Portugal,194,67,339,11.0
65,Germany,346,117,175,11.3
75,Hungary,234,215,185,11.3
99,Luxembourg,236,133,271,11.4
155,Slovakia,196,293,116,11.4
81,Ireland,313,118,165,11.4
141,Russian Federation,247,326,73,11.5
61,France,127,151,370,11.8
45,Czech Republic,361,170,134,11.8
68,Grenada,199,438,28,11.9
3,Andorra,245,138,312,12.4
98,Lithuania,343,244,56,12.9
15,Belarus,142,373,42,14.4

In [87]:
# No filtro aplicado observa-se os país com maior consumo de álcool acima do Brasil.

In [ ]:
Nome: Ademário Nobre

Curso: Visualização de Dados (Lead Fortaleza)

Tutora: Amanda Souza